<div class="drop-down-menu" [ngClass]="{'open': isDropDownOpen, 'close': !isDropDownOpen}">
    <div class="select-items" style="display: flex" (click)="isDropDownOpen = !isDropDownOpen">

        <span class="option-name">{{selectedOption.name}}</span>

        <div class="option-count">
            <span>{{selectedOption.id}}</span> / <span>{{options.length}}</span>
        </div>

    </div>

    <ul class="drop-down-menu" *ngIf="isDropDownOpen">
        <li class="drop-down-menu__item" *ngFor="let el of options">{{el.name}}</li>
    </ul>
</div>